
.spacer-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer-text{
  font-size: 2em;
  font-weight: 300;
  color: #6d7072;
  background-color: #e7e7e7;
  border-bottom: 3px solid #1ab394;
  padding: 10px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.spacer-button {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2em;
  border: none;
  width: 100px;
  cursor: pointer;
  padding: 0 2em;
  border-radius: 2px;
  color: white;
  background-color: #1ab394;
}

.analysis-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.analysis-text {
  font-size: 2em;
  font-weight: 300;
  color: #6d7072;
  background-color: #e7e7e7;
  border-bottom: 3px solid #1ab394;
  padding: 10px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.analysis-text-small {
  font-size: 0.5em;
  font-weight: 300;
  color: #6d7072;
  background-color: #e7e7e7;
  padding: 10px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.label {
  fill: black
}